/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body {
    font-family: "adobe-garamond-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

h1 {
	font-family: "adobe-garamond-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}
.navbar {
	border-radius: 0px!important;
	color: #fff;
	margin-bottom: 0px!important;
}

.navbar-brand img {
	height: 30px;
}

#section1 {
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 60px;
	background-color: #465872;
}

#selection {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

input, select, #mainbtn {
	border-radius: 2px!important;
	height: 60px!important;
	font-size: 14px!important;
}

#wherefield, #datefield, #peoplefield, #typefield, #mainbtn, #timefield {
	width: 100%!important;
	margin-bottom: 5px;
	margin-top: 5px;
}

.form-inline .input-group {
	width: 100%;
}

#mainbtn {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.headerhero {
	font-weight: bold;
	letter-spacing: 2px;
}

#section2 {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	background-color: #eee;
}

.nav-tabs {
	border-bottom: 1px solid #eee!important;
}

.tab-content {
	padding-top: 50px;
}

li button {
	padding: 0px 10px!important;
	margin: 0px!important;
	height: 30px;
}

#myModal {
		padding-top: 100px;
	}

#boatcard {
	height: 100%;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 3px 2px -2px #777;
       -moz-box-shadow: 0 3px 2px -2px #777;
            box-shadow: 0 3px 2px -2px #777;
}

#boatcard img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 3px solid #eee;
	margin-top: 25px;
	margin-bottom: 10px;
}

#boatcard .boatrating {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 12px;
	width: 50px;
	margin: 0 auto;
	background-color: #337ab7;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 2px;
	border-radius: 4px;

}

#boatcard .boattitle {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#boatcard .boatlocation {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #666;
}

#boatcard .boatdescription {
	padding-top: 15px;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #666;
	width: 90%;
	margin: 0 auto;
}

#boatrow {
	margin: 0px!important;
	margin-bottom: 10px!important;
}

#boatrow select, #boatrow .btn-primary {
	height: 45px!important;
}

#boatcard button {
	width: 100%;

	text-transform: uppercase;
	font-size: 12px;
}




/* MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */
@media only screen and (max-width: 800px) {
 
	#section1 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#mainbtn {
		padding: 0px 10px!important;
		width: 100%!important;
		height: 35px!important;
	}

	.navbar-brand img {
		height: 30px!important;
		margin-top: -5px;
	}

	.mainbtn {
		width: 100%;
	}

}

@media only screen and (min-width: 768px) {
	#InputLocation {
		width: 25%;
	}
}

@media only screen and (min-width: 959px) {

}